<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup Page</h1>
    <form id="signupForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <button type="submit">Signup</button>
    </form>

    <a href="login.html">Login</a>

    <div id="message"></div>

    <script>
      document
        .getElementById("signupForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const username = document.getElementById("username").value;
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;
          const message = document.getElementById("message");

          try {
            const response = await fetch(
              "http://localhost:3000/api/auth/signup",
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ username, email, password }),
              }
            );

            const data = await response.json();

            if (response.ok) {
              message.textContent = data.message;
            } else {
              message.textContent = data.message;
            }
          } catch (error) {
            message.textContent = "Error connecting to server";
          } finally {
            setTimeout(() => {
              window.location.href = "login.html";
            }, 1000);
          }
        });
    </script>
  </body>
</html>
