doctype html
html(lang="en")
  head
    title Sign Up Page
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
      h1 Sign Up
      form(action="/signup", method="POST")
        label(for="username") Username:
        input(type="text", id="username", name="username", required)
        br
        label(for="email") Email:
        input(type="email", id="email", name="email", required)
        br
        label(for="password") Password:
        input(type="password", id="password", name="password", required)
        br
        button(type="submit") Sign Up
