doctype html 
html(lang="en")
    head 
     meta(charset="UTF-8")
     title Success Page
    body 
      h2 Welcome, #{username}! 
      p Login Successful! 
      a(href="/") Go back to login page 